*{
	margin: 0;
	padding: 0;
}

.home{
	background: url(../images/bg1.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.home > div > h1{
	color: white;
	font-size: 50px;
}

.btn{
	background-color: beige;
	color: purple;
	border-style: none;
	padding: 20px 50px;
	border-radius: 100px;
	transition: .4s;
}

.btn:hover{
	background-color: pink;
}

.about{
	background: url("../images/bg2.jpg");
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
}

.aboutl{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutl > h2{
	color: white;
	margin: 100px;
}

.aboutl > h2 > span{
	color: orange;
}

.aboutr{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutr > div > img{
	height: 150px;
	width: 150px;
	border-radius: 50px;
	margin-left: 175px;
}

.aboutr > div > h2{
	color: white;
}

.self{
	background: url("../images/bg3.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.self > div > img{
	height: 200px;
	width: 200px;
	border-radius: 100px;
}

.self > div > h2{
	color: white;
}

.preview{
	background: url("../images/bg4.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.preview > div > h2{
	color: white;
	font-size: 75px;
}

.preview > div > img{
	height: 175px;
	width: 175px;
	border-radius: 25px;
	transition: .3s;
}

.preview > div > img:hover{
	transform: scale(1.5);
}

.contact{
	background: url("../images/bg5.jpg");
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
}

.contactl{
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.contactr{
	width: 25vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactl > form{
	width: 80%;
	text-align: center;
}

input{
	display: block;
	border: 1px solid blue;
	margin: 10px auto;
	height: 20px;
	width: 200px;
	border-radius: 5px;
}

textarea{
	display: block;
	border: 1px solid blue;
	margin: 10px auto;
	height: 60px;
	width: 200px;
	border-radius: 5px;
}

ul{
	display: block;
	background-color: darkblue;}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: white;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding-right: 30px;

}

nav {
	text-align: right;
	text-indent: 5px;
    position: sticky;
    top: 0;
}